---
layout: master
title: the wiki
---
<header>
<div class="inner">
  <h1>Hello world</h1>
  <p> what now?  </p>
</div>
</header>
<div class="row">
  <div class="span12">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>date</th>
          <th>title</th>
          <th>categories</th>
        </tr>
      </thead>
      <tbody>
        {% for post in site.posts %}
        <tr>
          <td>{{ post.date | date_to_string }}</td>
          <td><a href="{{ post.url }}">{{ post.title }}</a></td>
          <td>
            {% for category in post.categories %}
            <span class="label">{{ category }}</span>
            {% endfor %}
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
