---
layout: 1column
---
<div class="row">
  <div class="span9">
    {{ content }}
  </div>
  <div class="span3">
    <h3>Archive</h3>
    <ul class="unstyled">
      <li>
      {% for year in (2005..2012) reversed %}
      {% for m in (1..12) reversed %}
      {% if site.collated_posts[year][m] %}
      <h6>{{ m | to_month }} {{ year }}</h6>
      <ul class="unstyled">
        {% for d in (1..31) reversed %}
        {% if site.collated_posts[year][m][d] %}
        {% for p in site.collated_posts[year][m][d] reversed %}
        <li><a href='{{ p.url }}'>{{ p.title }}</a></li>
        {% endfor %}
        {% endif %}
        {% endfor %}
      </ul>
      {% endif %}
      {% endfor %}
      {% endfor %}
      </li>
    </ul>
  </div>
</div>
