---
layout: 1column
---
<article>
<header>
<div class="page-header">
  <h1>{{ page.title }} <small>Posted on {{ page.date | date:"%B %d, %Y" }} {% if page.time %}@ {{ page.time }} {% endif %} {% if page.categories.length > 0 %}in {% endif %} {% for category in page.categories %} <a href='/topics/{{ category }}/'><span class="label">{{ category }}</span></a>{% if forloop.last == false %}, {% endif %} {% endfor %} </small></h1>
</div>
</header>
{{ content }}
</article>
<ul class="pager">
  <li class="previous">
  {% if page.next %}
  <a href="{{page.next.url}}" title="{{page.next.title}}">&larr; Newer</a>
  {% endif %} 
  </li>
  <li class="next">
  {% if page.previous %} 
  <a href="{{page.previous.url}}" title="{{page.previous.title}}">Older &rarr;</a> 
  {% endif %} 
  </li>
</ul>
